#container
{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 600px;
    width: 100%;
}

article
{
    font-size: 21px;
    text-align: justify;
    height: 600px;
    width:  450px;
    float: left;
    padding-right: 11px;
}

figure
{
    float: left;
}

figure img
{
    border: solid 4px gainsboro;
}