
#update
{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 600px;
}

#update form input[type="file"], input[type="submit"]
{
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #000000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 230px;
}

#update form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #04acec;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
}


#update form input[type="file"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #606468;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
}

#update form input[type="pic"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #04acec;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
}

#update form input[type="file"]:hover
{
    background-color: chartreuse;
}