<div id="aboutme">
    <figure>
        <img src="images/me.jpg" alt="" />
    </figure>
    <article>
<h3>Cześć!</h3>
Nazywam się Roman Tomaszewski. Jestem fotografem, na codzień mieszkającym  w Berlinie. To właśnie to miasto, pełne kontrastów i opuszczonych miejsc z ciekawą historią, zainspirowało mnie do wyjścia z Aparatem na ulicę.
Co chcę pokazywać na moich zdjęciach? Przede wszystkim emocje - Te, które czuje osoba fotografowana, jak i moje, udzielające się w momencie wciskania spustu migawki.
Zajmuję się różnymi gałęziami fotografii:  portretową, krajobrazową, architektoniczną, jak i fotoreportażem
Wykonuję sesje portretowe, modelingowe jak i fotorelacje z imprez sportowych i eventów. Więcej informacji w zakładce "kontakt".
    </article>

    <div style="clear:both"></div>

</div>
