<link rel="stylesheet" href="styles/css/fontello.css" type="text/css" />
<link rel="stylesheet" href="styles/contact.css" type="text/css" />

<div id="container" ng-controller="contactCtrl">

    <article>
        <h2>
            Zapraszam do wybrania kontaktu ze mną!
        </h2>
    </article>

    <a href="https://www.facebook.com/roman.tomaszewski.71?fref=ts"><i class="icon-facebook"></i></a>
    <i class="icon-phone"></i>
    <i class="icon-mail"></i>
    <div style="clear:both"></div>

</div>