
<div>
   <figure>

       <div class="photo">
           <img src="images/fotoWeb.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb2.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb3.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb4.jpg" alt="Photo"/>
       </div>

       <div style="clear:both"></div>

       <div class="photo">
           <img src="images/fotoWeb5.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb6.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb7.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb8.jpg" alt="Photo"/>
       </div>

       <div style="clear:both"></div>

       <div class="photo">
           <img src="images/fotoWeb9.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb10.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb11.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb12.jpg" alt="Photo"/>
       </div>

       <div style="clear:both"></div>

       <div class="photo">
           <img src="images/fotoWeb13.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb14.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb15.jpg" alt="Photo"/>
       </div>
       <div class="photo">
           <img src="images/fotoWeb16.jpg" alt="Photo"/>
       </div>
   </figure>
</div>