<div id="gallery">

    <div class="photo">
        <a ng-href="#/gallery/album1">
            <h3>Opuszczone miejsca</h3>
            <img src="images/galeria1.jpg" alt="Photo"/>
        </a>
    </div>
    <div class="photo">
        <a ng-href="#/gallery/album2">
        <h3>Portret i modeling</h3>
        <img src="images/galeria2.jpg" alt="Photo"/>
        </a>
    </div>

    <div style="clear:both"></div>

    <div class="photo">
        <a ng-href="#/gallery/album3">
        <h3>Piłka nożna</h3>
        <img src="images/galeria3.jpg" alt="Photo"/>
        </a>
    </div>
    <div class="photo">
        <a ng-href="#/gallery/album4">
        <h3>Krajobrazy i miasta</h3>
        <img src="images/galeria4.jpg" alt="Photo"/>
        </a>
    </div>

    <div style="clear:both"></div>
</div>