<div id="login">
            <div class="formData">
                <form name="formLogin" novalidate>

                <h2>Logowania</h2>

            <label>Username</label>
            <input  type="text" placeholder="Login" name="login"  ng-model="contact.login" ng-required="true" ng-minlength="3"
            ng-maxlength="10"/>
                    <div ng-show="formLogin.login.$invalid && formLogin.login.$touched">
                        <small style="color:#FA1126; display: block; text-align: center">Wprowadz poprawną nazwę!</small>
                     </div>
            <label>Password</label>

                    <input type="password" name="password"  placeholder="Password" ng-model="contact.password" ng-required="true"
                    ng-minlength="3" ng-maxlength="10"/>
                    <div ng-show="formLogin.password.$invalid && formLogin.password.$touched">
                        <small style="color:#FA1126; display: block; text-align: center">Hasło nie poprawne!</small>
                    </div>
                    <div ng-show="formLogin.password.isDisabled">
                        yeah
                    </div>
                <button type="submit" ng-disabled="formLogin.$invalid" class="btn">Login</button>
                <a href="#/register"  >Rejestracja</a>
                </form>
            </div>
</div>