<div id="login">

    <form name="form">

            <div class="formData">
                <h2>Login</h2>
            <label for="username">Username</label>
            <input  type="text" name="Login" id="username" placeholder="Login" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password"/>

                <button type="submit" class="btn">Login</button>
                <a href="#!/register"  >Rejestracja</a>
            </div>

    </form>
</div>