<div id="login" data-ng-app="exampleApp">

            <div class="formData">
                <form name="formLogin" novalidate>

                <h2>Login</h2>
            <label>Username</label>
            <input  type="text" name="login" placeholder="Login" ng-model="contact.login" ng-required="true"/>

            <label>Password</label>
            <input type="password" name="password"  placeholder="Password" ng-model="contact.password" ng-required="true"/>

                <button type="submit" ng-disabled="formLogin.$invalid" class="btn">Login</button>
                <a href="#/register"  >Rejestracja</a>
                </form>
            </div>

</div>