<form ng-submit="PageService.updatePage(PageService)">
<div class="form-panel">
    <label>Nagłówek</label>
    <input type="text" class="form-control"
           ng-model="PageService.updatePage.author"
           placeholder="Autor">
</div>
<div class="form-group">
    <label>Treść</label>
    <textarea  class="form-control"
               ng-model="PageService.updatePage.text"
               placeholder="Treść"> </textarea>
</div>
<button type="submit" class="btn btn-info btn-lg">Wyślij</button>
</form>
</div>