<div id="register">

    <form name="form2">
        <div class="formData">
                <h2>Rejestracja</h2>
            <label for="username">Username</label>
            <input  type="text" name="Login" id="username" placeholder="login" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password"/>

            <label for="password">Confirm password</label>
            <input type="password" name="password" id="passwordConfirm" placeholder="confirm password"/>

            <label for="email">E-mail</label>
            <input type="email" name="password" id="email" placeholder="email"/>

                <button type="submit" class="btn">Zarejestruj</button>
                <a href="#!/login" >Masz już konto?</a>
        </div>
    </form>
</div>