<div id="register">
    <form name="form2" novalidate>
        <div class="formData">
                <h2>Rejestracja</h2>
            <label>Username</label>
            <input  type="text" placeholder="Login" name="login"  ng-model="register.login" ng-required="true" ng-minlength="3"
                    ng-maxlength="10"/>
            <div ng-show="form2.login.$invalid && form2.login.$touched">
                <small style="color:#FA1126; display: block; text-align: center">Nazwa musi składać się od 3 do 15 znaków!</small>
            </div>

            <label>Password</label>
            <input type="password" name="password"  placeholder="Hasło" ng-model="register.password" ng-required="true"
                   ng-minlength="3" ng-maxlength="15"/>
            <div ng-show="form2.password.$invalid && form2.password.$touched">
                <small style="color:#FA1126; display: block; text-align: center">Hasło musi się składać od 3 do 15 znaków!!</small>
            </div>

            <label>Confirm password</label>
            <input type="password" name="passwordConfirm"  placeholder="Powtórz hasło" ng-model="register.passwordConfirm" ng-required="true"
                   ng-minlength="3" ng-maxlength="10"/>
            <div ng-show="form2.passwordConfirm.$invalid && form2.passwordConfirm.$touched">
                <small style="color:#FA1126; display: block; text-align: center">Hasło nie poprawne!</small>
            </div>

            <label>E-mail</label>
            <input type="email" name="email"  placeholder="Twój email" ng-model="register.email" ng-required="true"
                   ng-minlength="3" ng-maxlength="10"/>
            <div ng-show="form2.email.$invalid && form2.email.$touched">
                <small style="color:#FA1126; display: block; text-align: center">Niepoprawny email!</small>
            </div>

                <button type="submit" class="btn">Zarejestruj</button>
                <a href="#/login" >Masz już konto?</a>
        </div>
    </form>
</div>